In [2]:
import pandas as pd
import numpy as np

26-05

# Data Observation

## Training Set

In [3]:
trainingdata = pd.read_csv('train.csv')

trainingdata.head(5)

,StoreID,Date,IsHoliday,IsOpen,HasPromotions,StoreType,AssortmentType,NearestCompetitor,Region,NumberOfCustomers,...,Mean_TemperatureC,Mean_VisibilityKm,Mean_Wind_SpeedKm_h,Min_Dew_PointC,Min_Humidity,Min_Sea_Level_PressurehPa,Min_TemperatureC,Min_VisibilitykM,Precipitationmm,WindDirDegrees
0,1000,01/03/2016,0,1,0,Hyper Market,General,326,7,495,...,1,11.0,16,-2,70,1029,1,6.0,0.0,23
1,1000,02/03/2016,0,1,0,Hyper Market,General,326,7,608,...,3,13.0,10,-2,58,1025,1,10.0,0.0,56
2,1000,04/03/2016,0,1,0,Hyper Market,General,326,7,665,...,3,11.0,10,-3,55,1023,2,8.0,0.0,22
3,1000,05/03/2016,0,1,0,Hyper Market,General,326,7,630,...,3,15.0,10,-6,25,1022,-1,10.0,0.0,108
4,1000,06/03/2016,0,0,0,Hyper Market,General,326,7,0,...,1,12.0,5,-6,48,1022,-5,5.0,0.0,46

Observations: Data set has many columns, some that are probably not even relevant to the problem. We should do some Feature Selection.

In [4]:
trainingdata.columns

Index([u'StoreID', u'Date', u'IsHoliday', u'IsOpen', u'HasPromotions',
       u'StoreType', u'AssortmentType', u'NearestCompetitor', u'Region',
       u'NumberOfCustomers', u'NumberOfSales', u'Region_AreaKM2',
       u'Region_GDP', u'Region_PopulationK', u'CloudCover', u'Events',
       u'Max_Dew_PointC', u'Max_Gust_SpeedKm_h', u'Max_Humidity',
       u'Max_Sea_Level_PressurehPa', u'Max_TemperatureC', u'Max_VisibilityKm',
       u'Max_Wind_SpeedKm_h', u'Mean_Dew_PointC', u'Mean_Humidity',
       u'Mean_Sea_Level_PressurehPa', u'Mean_TemperatureC',
       u'Mean_VisibilityKm', u'Mean_Wind_SpeedKm_h', u'Min_Dew_PointC',
       u'Min_Humidity', u'Min_Sea_Level_PressurehPa', u'Min_TemperatureC',
       u'Min_VisibilitykM', u'Precipitationmm', u'WindDirDegrees'],
      dtype='object')

Description of numerical values

In [5]:
trainingdata.describe()

,StoreID,IsHoliday,IsOpen,HasPromotions,NearestCompetitor,Region,NumberOfCustomers,NumberOfSales,Region_AreaKM2,Region_GDP,...,Mean_TemperatureC,Mean_VisibilityKm,Mean_Wind_SpeedKm_h,Min_Dew_PointC,Min_Humidity,Min_Sea_Level_PressurehPa,Min_TemperatureC,Min_VisibilitykM,Precipitationmm,WindDirDegrees
count,523021.000000,523021.000000,523021.000000,523021.000000,523021.00000,523021.000000,523021.000000,523021.000000,523021.000000,523021.000000,...,523021.000000,511683.000000,523021.000000,523021.000000,523021.000000,523021.000000,523021.000000,511683.000000,523021.000000,523021.000000
mean,1373.953914,0.029718,0.829714,0.383292,8002.71122,5.713151,259.325073,4057.377536,12381.265718,14050.547848,...,10.273205,12.151025,11.724961,3.737584,51.375624,1012.078435,6.202315,7.223408,0.808278,170.458096
std,216.395820,0.169808,0.375884,0.486189,11537.70753,3.357190,185.857102,2729.630381,9140.692427,2755.425404,...,7.041167,4.978385,5.791031,5.909098,19.284023,8.699236,6.312993,4.899575,2.631428,101.728193
min,1000.000000,0.000000,0.000000,0.000000,47.00000,0.000000,0.000000,0.000000,344.000000,9893.000000,...,-13.000000,0.000000,2.000000,-18.000000,10.000000,970.000000,-15.000000,0.000000,0.000000,-1.000000
25%,1187.000000,0.000000,1.000000,0.000000,1057.00000,3.000000,166.000000,2573.000000,7215.000000,11849.000000,...,4.000000,10.000000,8.000000,-1.000000,36.000000,1007.000000,1.000000,3.000000,0.000000,75.000000
50%,1373.000000,0.000000,1.000000,0.000000,3321.00000,6.000000,251.000000,4020.000000,9643.000000,15017.000000,...,11.000000,11.000000,11.000000,4.000000,51.000000,1013.000000,7.000000,8.000000,0.000000,191.000000
75%,1561.000000,0.000000,1.000000,1.000000,9673.00000,9.000000,345.000000,5538.000000,15566.000000,15931.000000,...,16.000000,14.000000,14.000000,8.000000,66.000000,1018.000000,11.000000,10.000000,0.250000,250.000000
max,1748.000000,1.000000,1.000000,1.000000,85070.00000,10.000000,2206.000000,26641.000000,32221.000000,23931.000000,...,30.000000,31.000000,53.000000,18.000000,100.000000,1038.000000,24.000000,31.000000,58.930000,360.000000

Description of categorical values

In [6]:
trainingdata.describe(exclude=[np.number])

              Date     StoreType AssortmentType  Events
count       523021        523021         523021  398923
unique         729             4              3      21
top     04/06/2016  Hyper Market        General    Rain
freq           749        292769         296188  204733

In [7]:
categorical_variables_mask = trainingdata.dtypes==object
categorical_variables = trainingdata.columns[categorical_variables_mask]
numerical_variables = trainingdata.columns[~categorical_variables_mask]
print("%d Categorical Variables\n%d Numerical Variables\n"%(len(categorical_variables),len(numerical_variables)))

4 Categorical Variables
31 Numerical Variables

### Missing Values

In [8]:
unknown_per_columns = trainingdata.isnull().sum()
unknowns = unknown_per_columns[unknown_per_columns>0]
unknowns

CloudCover             41181
Events                124098
Max_Gust_SpeedKm_h    409947
Max_VisibilityKm       11338
Mean_VisibilityKm      11338
Min_VisibilitykM       11338
dtype: int64

In [9]:
missing_columns= unknowns.index.values
amountofdata_missing_columns= trainingdata[missing_columns].count()
amountofdata_missing_columns

CloudCover            481840
Events                398923
Max_Gust_SpeedKm_h    113074
Max_VisibilityKm      511683
Mean_VisibilityKm     511683
Min_VisibilitykM      511683
dtype: int64

In [10]:
percentageofmissing= 100*unknowns/(amountofdata_missing_columns+unknowns)
percentageofmissing

CloudCover             7.873680
Events                23.727154
Max_Gust_SpeedKm_h    78.380600
Max_VisibilityKm       2.167791
Mean_VisibilityKm      2.167791
Min_VisibilitykM       2.167791
dtype: float64

We see that 78% of Max_Gust_SpeedKm_h values are missing, assuming that is Missing completely at random (MCAR) then we could drop that row without any further issue.

DO Correlation

In [11]:
processed_trainingdata = trainingdata.drop('Max_Gust_SpeedKm_h',axis=1)

Events also appears as a variable with very high amount of missing values

In [12]:
processed_trainingdata['Events'].describe(include="all")

count     398923
unique        21
top         Rain
freq      204733
Name: Events, dtype: object

In [13]:
processed_trainingdata['Events'].unique()

array(['Rain-Snow', 'Snow', 'Rain', nan, 'Fog-Rain', 'Fog-Rain-Snow',
       'Fog', 'Rain-Thunderstorm', 'Rain-Hail', 'Fog-Rain-Thunderstorm',
       'Fog-Rain-Hail-Thunderstorm', 'Rain-Snow-Hail',
       'Fog-Rain-Snow-Hail', 'Fog-Snow', 'Snow-Hail', 'Fog-Thunderstorm',
       'Thunderstorm', 'Fog-Snow-Hail', 'Rain-Snow-Hail-Thunderstorm',
       'Fog-Rain-Hail', 'Rain-Hail-Thunderstorm', 'Rain-Snow-Thunderstorm'], dtype=object)

In this case we can see that missing values have a meaning! Then we could replace the missing values with a variable named None, meaning that no event has happened.

In [14]:
processed_trainingdata['Events']= processed_trainingdata['Events'].fillna(value="None")

Now we have four numerical variables left: CloudCover , Max_VisibilityKm, Mean_VisibilityKm, Min_VisibilitykM, we can use algorithm to fill them.

In [34]:
from kpopalg import *
missing_columns = ['CloudCover','Max_VisibilityKm','Mean_VisibilityKm','Min_VisibilitykM']
missing_trainingdata = processed_trainingdata[missing_columns]
labels, centroids, kmeans_missing_trainingdata = kmeans_missing(missing_trainingdata, n_clusters=5, max_iter=10)

kmeans_missing_trainingdata

        CloudCover  Max_VisibilityKm  Mean_VisibilityKm  Min_VisibilitykM
0         8.000000              19.0               11.0               6.0
1         8.000000              23.0               13.0              10.0
2         8.000000              31.0               11.0               8.0
3         6.000000              31.0               15.0              10.0
4         6.000000              31.0               12.0               5.0
5         5.207093              31.0               22.0              16.0
6         7.557797              26.0               21.0              18.0
7         5.207093              26.0               22.0              13.0
8         7.000000              26.0               14.0               7.0
9         7.000000              14.0                9.0               6.0
10        6.000000              19.0                9.0               5.0
11        6.000000              31.0               11.0               5.0
12        7.000000              16.0                9.0               3.0
13        7.000000               8.0                3.0               0.0
14        5.000000              31.0               12.0               6.0
15        4.000000              26.0               10.0               6.0
16        2.000000              31.0               17.0              10.0
17        7.557797              31.0               27.0              19.0
18        7.000000              31.0                7.0               0.0
19        6.000000              31.0               11.0               3.0
20        4.000000              23.0               10.0               5.0
21        6.000000              31.0               10.0               6.0
22        6.000000              27.0               11.0               8.0
23        5.000000              31.0               12.0               5.0
24        7.000000              31.0               14.0              10.0
25        8.000000              31.0               28.0              26.0
26        6.000000              31.0               17.0              10.0
27        6.000000              31.0               20.0              10.0
28        3.000000              31.0               19.0              10.0
29        6.000000              26.0               12.0               2.0
...            ...               ...                ...               ...
522991    5.000000              31.0               13.0              10.0
522992    7.000000              31.0               11.0               5.0
522993    6.000000              31.0               14.0               6.0
522994    5.000000              31.0               12.0              10.0
522995    6.000000              31.0               11.0               5.0
522996    6.000000              26.0                9.0               1.0
522997    6.000000              26.0               10.0               5.0
522998    5.000000              31.0               15.0              10.0
522999    5.000000              31.0               11.0              10.0
523000    5.000000              31.0               14.0              10.0
523001    2.000000              31.0               15.0              10.0
523002    5.000000              31.0               17.0              10.0
523003    6.000000              31.0               13.0              10.0
523004    7.000000              31.0               13.0              10.0
523005    7.000000              27.0               10.0               5.0
523006    8.000000              31.0               12.0              10.0
523007    8.000000              10.0                9.0               6.0
523008    8.000000              11.0                8.0               3.0
523009    5.000000              14.0               10.0               6.0
523010    2.000000              16.0               10.0               5.0
523011    8.000000              13.0               10.0               8.0
523012    7.000000              11.0                8.0               5.0
523013    7.000000              18.0                9.0               6.0
523014    8.000000              13.0                9.0               6.0
523015    6.000000              18.0               10.0               6.0
523016    7.000000              31.0               12.0               9.0
523017    5.000000              31.0               14.0              10.0
523018    7.000000              16.0                8.0               2.0
523019    5.000000              31.0               13.0              10.0
523020    4.000000              31.0               11.0               5.0

[523021 rows x 4 columns]

In [27]:
#kmeans_missing_trainingdata = pd.DataFrame(kmeans_missing_trainingdata,columns=missing_columns)
#missing_trainingdata[missing_trainingdata['Max_VisibilityKm'].apply(np.isnan) == True]
kmeans_missing_trainingdata['CloudCover'].size

523021

In [31]:
#processed_trainingdata[missing_columns]= kmeans_missing_trainingdata
#aa= processed_trainingdata['Max_VisibilityKm']
#round values??????
labels.size
#Visualize imputation algorithm

523021

## Test Set

We do the same for the test data

In [18]:
testdata = pd.read_csv('test.csv')

testdata.head(5)

,StoreID,Date,IsHoliday,IsOpen,HasPromotions,StoreType,AssortmentType,NearestCompetitor,Region,Region_AreaKM2,...,Mean_TemperatureC,Mean_VisibilityKm,Mean_Wind_SpeedKm_h,Min_Dew_PointC,Min_Humidity,Min_Sea_Level_PressurehPa,Min_TemperatureC,Min_VisibilitykM,Precipitationmm,WindDirDegrees
0,1000,01/03/2018,0,1,0,Hyper Market,General,326,7,9643,...,6,14.0,5,-1,46,1011,2,10.0,0.00,180
1,1000,02/03/2018,0,1,0,Hyper Market,General,326,7,9643,...,4,12.0,6,-1,52,1009,3,10.0,5.08,315
2,1000,03/03/2018,0,1,0,Hyper Market,General,326,7,9643,...,3,13.0,11,-3,41,1013,-2,10.0,0.00,210
3,1000,04/03/2018,0,0,0,Hyper Market,General,326,7,9643,...,6,11.0,18,-2,65,1002,1,6.0,3.05,193
4,1000,05/03/2018,0,1,1,Hyper Market,General,326,7,9643,...,6,10.0,23,-5,25,1000,2,8.0,0.25,247

In [19]:
testdata.columns

Index([u'StoreID', u'Date', u'IsHoliday', u'IsOpen', u'HasPromotions',
       u'StoreType', u'AssortmentType', u'NearestCompetitor', u'Region',
       u'Region_AreaKM2', u'Region_GDP', u'Region_PopulationK', u'CloudCover',
       u'Events', u'Max_Dew_PointC', u'Max_Gust_SpeedKm_h', u'Max_Humidity',
       u'Max_Sea_Level_PressurehPa', u'Max_TemperatureC', u'Max_VisibilityKm',
       u'Max_Wind_SpeedKm_h', u'Mean_Dew_PointC', u'Mean_Humidity',
       u'Mean_Sea_Level_PressurehPa', u'Mean_TemperatureC',
       u'Mean_VisibilityKm', u'Mean_Wind_SpeedKm_h', u'Min_Dew_PointC',
       u'Min_Humidity', u'Min_Sea_Level_PressurehPa', u'Min_TemperatureC',
       u'Min_VisibilitykM', u'Precipitationmm', u'WindDirDegrees'],
      dtype='object')

In [20]:
testdata = testdata.drop('StoreID', axis=1)

In [21]:
testset= set(testdata.columns) 
trainingset = set(trainingdata.columns) 
diff = trainingset - testset
diff

{'NumberOfCustomers', 'NumberOfSales'}

NumberOfSales and NumberOfCustomer is missing from dataset, that's our target.

In [22]:
testdata.describe()

,IsHoliday,IsOpen,HasPromotions,NearestCompetitor,Region,Region_AreaKM2,Region_GDP,Region_PopulationK,CloudCover,Max_Dew_PointC,...,Mean_TemperatureC,Mean_VisibilityKm,Mean_Wind_SpeedKm_h,Min_Dew_PointC,Min_Humidity,Min_Sea_Level_PressurehPa,Min_TemperatureC,Min_VisibilitykM,Precipitationmm,WindDirDegrees
count,45689.000000,45689.000000,45689.000000,45689.000000,45689.000000,45689.000000,45689.000000,45689.000000,37271.00000,45689.000000,...,45689.000000,43068.000000,45689.000000,45689.000000,45689.000000,45689.000000,45689.000000,43068.000000,45689.000000,45689.000000
mean,0.032787,0.822649,0.344262,7958.004005,5.556742,13216.973298,14140.499332,3940.098798,5.45797,4.582175,...,7.009433,13.428323,12.471208,-1.208124,39.309549,1016.101381,1.852853,8.084959,0.462545,188.977522
std,0.178080,0.381970,0.475132,11429.943820,3.369348,9793.699417,2730.696157,2782.135496,1.73856,3.065323,...,3.530816,5.323993,6.766945,3.232898,15.820149,10.503942,3.287485,5.209967,1.275447,112.300400
min,0.000000,0.000000,0.000000,47.000000,0.000000,344.000000,9893.000000,816.000000,0.00000,-3.000000,...,-2.000000,2.000000,3.000000,-13.000000,8.000000,979.000000,-6.000000,0.000000,0.000000,-1.000000
25%,0.000000,1.000000,0.000000,1057.000000,2.000000,7215.000000,11849.000000,1584.000000,5.00000,2.000000,...,4.000000,10.000000,8.000000,-3.000000,28.000000,1010.000000,0.000000,5.000000,0.000000,71.000000
50%,0.000000,1.000000,0.000000,3307.000000,6.000000,9643.000000,15017.000000,2770.000000,6.00000,4.000000,...,7.000000,12.000000,11.000000,-1.000000,37.000000,1018.000000,2.000000,9.000000,0.000000,225.000000
75%,0.000000,1.000000,1.000000,9673.000000,9.000000,15566.000000,16186.000000,5727.000000,6.00000,6.000000,...,9.000000,16.000000,14.000000,1.000000,50.000000,1024.000000,4.000000,10.000000,0.000000,273.000000
max,1.000000,1.000000,1.000000,85070.000000,10.000000,32221.000000,23931.000000,8146.000000,8.00000,15.000000,...,17.000000,31.000000,39.000000,9.000000,87.000000,1035.000000,12.000000,31.000000,11.940000,360.000000

In [23]:
testdata.describe(exclude=[np.number])

              Date     StoreType AssortmentType Events
count        45689         45689          45689  29248
unique          61             4              3     14
top     04/03/2018  Hyper Market        General   Rain
freq           749         25437          26108  15983

In [24]:
categorical_variables_mask = testdata.dtypes==object
categorical_variables = testdata.columns[categorical_variables_mask]
numerical_variables = trainingdata.columns[~categorical_variables_mask]
print("%d Categorical Variables\n%d Numerical Variables\n"%(len(categorical_variables),len(numerical_variables)))

IndexError: boolean index did not match indexed array along dimension 0; dimension is 35 but corresponding boolean dimension is 33

In [ ]:
unknown_per_columns = testdata.isnull().sum()
unknowns = unknown_per_columns[unknown_per_columns>0]
missing_columns= unknowns.index.values
amountofdata_missing_columns= testdata[missing_columns].count()
amountofdata_missing_columns
percentageofmissing= 100*unknowns/(amountofdata_missing_columns+unknowns)
percentageofmissing